@import "tailwindcss";

* {
  scroll-behavior: smooth;
}

@theme {
  --color-base: #020304;
  --color-elevated: #0a1018;
  --color-accent-primary: #0ea5e9;
  --color-accent-secondary: #38bdf8;
  --color-text-primary: #e6f4f1;
  --color-text-muted: #64748b;
  --color-border: #101820;

  --font-display: "Space Grotesk", sans-serif;
  --font-body: "Inter", sans-serif;
  --font-poppins: "Poppins", sans-serif;
}