@import "tailwindcss";

* {
  scroll-behavior: smooth;
}

@theme {
  --color-base: #0a0a0f;
  --color-elevated: #12121c;
  --color-accent-primary: #8b5cf6;
  --color-accent-secondary: #22d3ee;
  --color-text-primary: #e4e4e7;
  --color-text-muted: #71717a;
  --color-border: #27272a;

  --font-display: "Space Grotesk", sans-serif;
  --font-body: "Inter", sans-serif;
  --font-poppins: "Poppins", sans-serif;
}

